* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; /* http://blog.asial.co.jp/iphone/1147 */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}
.cell { /* 1 マスを表すスタイル */
    width: 30px;
    height: 30px;
    display: inline-block;
  /**/
    /*border: 1px solid green;*/
}
/* Panels are 30 pixels by 40 pixels including its borders. */
.panel, .panel4base, .panel4res {
    border: 1px solid orange;
    position: relative;
    background-color: white;
    width: 30px;
    height: 30px;
    /* centering the content. */
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.panel4res {
    border: 1px solid blue;
}
body {
    /* cover the entire screen */
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden; /* はみ出した部分を表示しない */
}
#main {
    position: absolute;
    width: 100%;
    top: 60px;
    height: 520px;
}
.hcentering {
  /* border: 4pt solid orange;*/
    /*position: relative;*/
    position: absolute; /* 3 つを直接座標で配置する */
    z-index: 10;
    height: 100%;
    /* center the content horizontally */
    width: 840px;  /* total width: 4 * 30px * 2 + 16 * 30px + 60px (margine) * 2 = 240 + 480 + 80 = 840*/
    margin-left: auto;
    margin-right: auto;
}
#vcentering {
  /* border: 4pt solid yellow;*/
    width: 60%;
    /* center the content vertically */
    position: absolute;
    right: 60px;
    height: 480px; /* 640px = 30px * 16*/
    top: 50%;
    margin-top: -240px;
}
.board, .board2, .board3 {
    /* put them at the same position with the same size */
    position: absolute;
    /*width: 100%;*/
    width: 120px;
    height: 100%;
    box-sizing: content-box; /* border-box だと、周りの太い線が現れない */
    border: 4px solid black;
    /* 以下がオリジナルの board 部分*/
    margin: auto;
    font-size: 24px;
    font-weight: bold;
}
.board2 {
    width: 480px;
}
#inputboard{
    top: 0;
    left: -260px;
}
#board4base{
    top: 0;
    left: -80px;
}
#outputboard{
    top: 0;
    left: 460px;
}
.row:before{ /* 縦の数字部分 */
    position: absolute;
    width: 40px;
    height: 30px;
    left: -40px;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
}
.row-holder {
    width: 120px;
    height: 30px;
}
.row-holder4base {
    width: 480px;
    height: 30px;
}
.input_display{
    display: inline-block;
    position: absolute;
    font-size: 24px;
    top: -25px;
    width:120px;
}
#input_display1, #input_display2, #input_display3, #input_display4{
    display: inline-block;
    position: relative;
    left: -246px;
    width: 23px;
}
.base_display{
    display: inline-block;
    position: absolute;
    font-size: 24px;
    top: -25px;
    width: 480px
}
#base_display11, #base_display12, #base_display13, #base_display14{
    font-size: 12px;
    display: inline-block;
    position: relative;
    left: -80px;
    width: 23px;
}
#base_display21, #base_display22, #base_display23, #base_display24{
    font-size: 12px;
    display: inline-block;
    position: relative;
    left: -72px;
    width: 23px;
}
#base_display31, #base_display32, #base_display33, #base_display34{
    font-size: 12px;
    display: inline-block;
    position: relative;
    left: -66px;
    width: 23px;
}
#base_display41, #base_display42, #base_display43, #base_display44{
    font-size: 12px;
    display: inline-block;
    position: relative;
    left: -64px;
    width: 23px;
}
.output_display{
    display: inline-block;
    position: absolute;
    font-size: 24px;
    top: -25px;
    width: 120px
}
#output_display1, #output_display2, #output_display3, #output_display4{
    font-size: 12px;
    display: inline-block;
    position: relative;
    left: 470px;
    width: 23px;
}
.header {
    display: inline-block;
    position: absolute;
    font-size: 24px;
    text-align: center;
    top: -60px;
}
#header1{
    left: -260px;
}
#header2{
    left: -80px;
}
#header3{
    left: 460px;
}
#cursor-panel{
    position: absolute;
    top: 520px;
    left: 90px;
    width: 120px;
    height: 60px;
}
.move-button {
    position: absolute;
    width: 30px;
    font-size: 24px;
}
#up-button1 {
    left: 0;
    top: 0;
}
#down-button1 {
    left: 0;
    bottom: 0;
}
#up-button2 {
    left: 30px;
    top: 0;
}
#down-button2 {
    left: 30px;
    bottom: 0;
}
#up-button3 {
    left: 60px;
    top: 0;
}
#down-button3 {
    left: 60px;
    bottom: 0;
}
#up-button4 {
    left: 90px;
    top: 0;
}
#down-button4 {
    left: 90px;
    bottom: 0;
}
.calc-button {
    display: inline-block;
    position: absolute;
    font-size: 24px;
    text-align: center;
    top: 520px;
    left: 270px;
}
.showBase {
    display: inline-block;
    position: absolute;
    font-size: 24px;
    text-align: center;
    top: 520px;
    left: 360px;
}
#showBase1 {
    left: 400px;
}
#showBase2 {
    left: 430px;
}
#showBase3 {
    left: 460px;
}
#showBase4 {
    left: 490px;
}
.composite-button {
    display: inline-block;
    position: absolute;
    font-size: 24px;
    text-align: center;
    top: 520px;
    left: 810px;
}

.distance {
    display: inline-block;
    position: absolute;
    font-size: 24px;
    text-align: center;
    top: 520px;
    left: 700px;
}