* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; /* http://blog.asial.co.jp/iphone/1147 */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}
#main {
    /* cover the entire screen */
    display: flex;
    position: relative;
    width: 840px;  /* total width: 4 * 30px * 2 + 16 * 30px + 60px (margine) * 2 = 240 + 480 + 80 = 840*/
    /*height: 100%;*/
    height: 640px; /* 480px = 30px * 16: ベクトル部分*/
    overflow: hidden; /* はみ出した部分を表示しない */
}
.vpanel { /* virtical panel includes #left-, #center-, and #right- panels */
    display: block;
    border: 4pt solid red;
    height: 100%;
}
#left-panel {
    width: 160px; /* 40(縦の数字分) + 120(=30*4(ベクトル部分))*/
    left: 20px;
}
#center-panel {
    width: 520px; /* 40(縦の数字分) + 480(=30*16: ベクトル部分) */
    left: 100px;
}
#right-panel{
    width: 160px; /* 40(縦の数字分) + 120(=30*4: ベクトル部分)*/
    left: 0px;
}
.cell { /* 1 マスを表すスタイル */
    width: 30px;
    height: 30px;
    display: inline-block;
  /**/
    /*border: 1px solid green;*/
}
/* Panels are 30 pixels by 40 pixels including its borders. */
.panel, .panel4base, .panel4res { /* 送信、基本、受信ブロックの各マス */
    /* 本当は受信ブロックのベクトル部分だけ青の背景にしたいが panel4res が効かない */
    border: 1px solid orange;
    position: relative;
    background-color: white;
    width: 30px; /* Panels are 30 pixels by 40 pixels including its borders. */
    height: 30px;
    left: 30px;
    /* centering the content. */
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.panel4res {
    border: 1px solid blue;
}
.board { /* 送信、基本、受信ブロックのベクトル部分(マスの総体) */
    /* put them at the same position with the same size */
    position: relative;
    left: 40px; /* 軸の数字の分だけ右に */
    /*width: 100%;*/
    /*box-sizing: content-box; border-box だと、周りの太い線が現れない */
    width: 120px; /* 120=30*4*/
    right: 0;
    font-size: 24px;
    font-weight: bold;
}
#input-board{
    border: 4px solid yellow;
    /*top: 0;
    left: -260px;*/
}
#base-board{
    border: 4px solid green;
    width: 480px; /* 120=30*4*4 */
    /*top: 0;
      left: 80px;*/
}
#output-board{
    /*top: 0;*/
    border: 4px solid red;
}
.row:before{ /* 縦の数字部分 */
    position: absolute;
    width: 40px;
    height: 30px;
    left: -40px;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
}
.row-holder {
    width: 120px;
    height: 30px;
}
.row-holder4base {
    width: 480px;
    height: 30px;
}
.input_display{
    position: relative;
    text-align: right;
    font-size: 24px;
    width:120px; /* 30 x 4 */
    margin: auto;
    padding: auto;
}
#input_display1, #input_display2, #input_display3, #input_display4{
    display: inline-block;
    width: 23px;
}
.base_display{
    position: relative;
    text-align: right;
    font-size: 24px;
    width: 480px
    height: 24px;
    margin: auto;
    padding: auto;
}
#base_display11, #base_display12, #base_display13, #base_display14{
    display: inline-block;
    width: 23px;
}
#base_display21, #base_display22, #base_display23, #base_display24{
    display: inline-block;
    width: 23px;
}
#base_display31, #base_display32, #base_display33, #base_display34{
    display: inline-block;
    width: 23px;
}
#base_display41, #base_display42, #base_display43, #base_display44{
    display: inline-block;
    width: 23px;
}
.output_display{
    position: relative;
    text-align: right;
    font-size: 12px;
    width:120px; /* 30 x 4 */
    margin: auto;
    padding: auto;
}
#output_display1, #output_display2, #output_display3, #output_display4{
    display: inline-block;
    width: 23px;
}
.header {
    font-size: 24px;
    text-align: center;
}
#input-header{
    text-align: left;
}
#output-header{
    text-align: right;
}
#cursor-panel{ /* ▲と▼を格納する仮想のボックス*/
    position: relative;
    display:flex;
}
#up-button1 {
    position: absolute;
    font-size: 24px;
    left: 45px;
    top: 0px;
}
#down-button1 {
    position: absolute;
    font-size: 24px;
    left: 45px;
    top: 20px;
}
#up-button2 {
    position: absolute;
    font-size: 24px;
    left: 80px;
    top: 0px;
}
#down-button2 {
    position: absolute;
    font-size: 24px;
    left: 80px;
    top: 20px;
}
#up-button3 {
    position: absolute;
    font-size: 24px;
    left: 115px;
    top: 0px;
}
#down-button3 {
    position: absolute;
    font-size: 24px;
    left: 115px;
    top: 20px;
}
#up-button4 {
    position: absolute;
    font-size: 24px;
    left: 140px;
    top: 0px;
}
#down-button4 {
    position: absolute;
    font-size: 24px;
    left: 140px;
    top: 20px;
}
.calc-button {
    position: absolute;
    font-size: 24px;
    /*left: -100px;
    top: 510px;*/
}
.showBase {
    position: relative;
    font-size: 24px;
    left: 100px;
}
.distance {
    position: relative;
    font-size: 18px;
    left: 400px;
}
.composite-button {
    position: relative;
    font-size: 24px;
}

